<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>干柴的主页 - android相关的干货(文摘，名博，github等等)</title>

    <!-- CSS  -->
    <link href="http://fonts.useso.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="__ROOT__/Public/Assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="__ROOT__/Public/Assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="__ROOT__/" class="brand-logo">干柴</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="__ROOT__/">首页</a></li>
            <li><a href="__ROOT__/Pages/download">下载</a></li>
            <li><a href="__ROOT__/Project">项目</a></li>
            <li><a href="__ROOT__/Pages/about">关于</a></li>
            <li><a href="__ROOT__/Pages/author">作者</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">首页</a></li>
            <li><a href="#">干柴</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#">作者</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">干柴/AndroidDigest</h1>
            <div class="row center">
                <h5 class="header col s12 light">android相关的干货(文摘，名博，github等等) - Android极客开发者必备</h5>
            </div>
            <div class="row center">
                <a href="__ROOT__/Pages/about" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">了解更多</a>
            </div>
            <br><br>

        </div>
    </div>
    <div class="parallax"><img src="__ROOT__/Public/Assets/img/bg/background4.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">android</i></h2>
                    <h5 class="center">专业Android资讯</h5>

                    <p class="light">只做Android资讯，只提供专业高质量的信息，带给你纯粹的用户体验。</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">edit</i></h2>
                    <h5 class="center">及时的资源更新</h5>

                    <p class="light">定时、及时的资源发布，关注Android前沿技术。</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">cloud</i></h2>
                    <h5 class="center">基于云的大数据</h5>

                    <p class="light">基于互联网牛逼Android开发人员的数据整合……</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">settings</i></h2>
                    <h5 class="center">大量的Android工具</h5>

                    <p class="light">带给你使用的Android开发技术，让开发得心应手~</p>
                </div>
            </div>
        </div>

    </div>
</div>


<!-- div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">这是一个Android资讯APP</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{$Think.Config.SKIN_PATH}Assets/img/bg/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>关于</h4>
                <p class="left-align light">
                    一个专注于android干货资源分享的开源APP
                </p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">也是一个Android开发者必备的工具</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{$Think.Config.SKIN_PATH}Assets/img/bg/background3.jpg" alt="Unsplashed background img 3"></div>
</div -->

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">关于干柴</h5>
                <p class="grey-text text-lighten-4">一个Android极客为Android极客打造的资讯APP。代码开源友好，随时拿去研究学习！<br /><a href="https://github.com/openproject/AndroidDigest" class="btn waves-effect waves-light teal lighten-1">AndroidDigest@GitHub</a></p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">项目</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/openproject/AndroidDigest">项目GitHub</a></li>
                    <li><a class="white-text" href="https://github.com/openproject/AndroidDigest">下载地址</a></li>
                    <li><a class="white-text" href="https://github.com/openproject">作者</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">链接</h5>
                <ul>
                    <li><a class="white-text" href="http://cnblogs.com/qianxuedetianxia">谦虚的天下</a></li>
                    <li><a class="white-text" href="http://www.nianyue.com.cn">年月匆匆</a></li>
                    <li><a class="white-text" href="http://www.wrox.cn">IT牛人汇</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            项目主页：<a class="brown-text text-lighten-3" href="https://github.com/openproject/AndroidDigest">AndroidDigest@GitHub</a> |
            项目作者：<a class="brown-text text-lighten-3" href="https://github.com/openproject">谦虚的天下@Cnblogs</a> |
            大数据：<a class="brown-text text-lighten-3" href="http://wrox.cn/">@IT博客汇</a> |
            网站制作：<a class="brown-text text-lighten-3" href="http://www.nianyue.com.cn">@年月匆匆</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>
<script src="__ROOT__/Public/Assets/js/materialize.js"></script>
<script src="__ROOT__/Public/Assets/js/init.js"></script>

</body>
</html>