<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.ganchai" >

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme.Design" >
        <activity
            android:name=".activity.MainActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.Design" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activity.WebViewActivity"
            android:label="activity_webview" />

        <service
            android:name=".service.HttpClientSpiceService"
            android:exported="false" />

        <activity
            android:name=".activity.FullImageActivity"
            android:label="@string/title_activity_full_image" >
        </activity>
        <activity
            android:name=".activity.SettingActivity"
            android:label="@string/title_activity_setting" >
        </activity>
        <activity
            android:name=".extend.BaseExtendActivity"
            android:label="@string/title_activity_base_extend" >
        </activity>

        <!-- EXTEND_BEGIN -->

        <activity
            android:name=".extend.gank.ExtendGankActivity"
            android:label="@string/title_activity_extend_gank" >
        </activity>
        <!-- EXTEND_END -->
        <activity
            android:name=".extend.rss.ExtendRssActivity"
            android:label="@string/title_activity_rss" >
        </activity>
        <activity
            android:name=".extend.atom.ExtendAtomActivity"
            android:label="@string/title_activity_atom" >
        </activity>
        <activity
            android:name=".activity.AboutActivity"
            android:label="@string/title_activity_about" >
        </activity>
    </application>

</manifest>
