<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>干柴的主页 - android相关的干货(文摘，名博，github等等)</title>

    <!-- CSS  -->
    <link href="http://fonts.useso.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="__ROOT__/Public/Assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="__ROOT__/Public/Assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="__ROOT__/" class="brand-logo">干柴</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="__ROOT__/">首页</a></li>
            <li><a href="__ROOT__/Articles">掘客</a></li>
            <li><a href="__ROOT__/Tools">工具箱</a></li>
            <li><a href="__ROOT__/UX">视觉</a></li>
            <li><a href="__ROOT__/Ta">找对象</a></li>
            <li><a href="__ROOT__/Apps">APP下载</a></li>
            <li><a href="__ROOT__/Pages/about">关于干柴</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">首页</a></li>
            <li><a href="#">干柴</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#">作者</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div class="container">
    <div class="section" id="ta-flow">

        <div class="row">
            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/1.jpg" class="ta-pic">
                        <span class="card-title">新の掘客</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/2.jpg" class="ta-pic">
                        <span class="card-title">极客优品</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/3.jpg" class="ta-pic">
                        <span class="card-title">码农工具箱</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/4.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/5.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/6.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/7.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/8.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/9.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/10.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/1.jpg" class="ta-pic">
                        <span class="card-title">新の掘客</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/2.jpg" class="ta-pic">
                        <span class="card-title">极客优品</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/3.jpg" class="ta-pic">
                        <span class="card-title">码农工具箱</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/4.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/5.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/6.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/7.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/8.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/9.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

            <div class="col s12 m4 l3">
                <div class="card">
                    <div class="card-image">
                        <img src="__ROOT__/Public/uploads/ta/10.jpg" class="ta-pic">
                        <span class="card-title">视觉设计</span>
                    </div>
                    <div class="card-content">
                        <p>
                            <b>昵称：</b>小玉<br />
                            <b>年龄：</b>23<br />
                            <b>星座：</b>巨蟹<br />
                            <b>职业：</b>程序员鼓励师<br />
                        </p>
                    </div>
                    <div class="card-action">
                        <a href="#">约她</a>
                        <a href="#">收藏</a>
                        <a href="#">点赞</a>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">关于干柴</h5>
                <p class="grey-text text-lighten-4">一个Android极客为Android极客打造的资讯APP。代码开源友好，随时拿去研究学习！<br /><a href="https://github.com/openproject/AndroidDigest" class="btn waves-effect waves-light teal lighten-1">AndroidDigest@GitHub</a></p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">项目</h5>
                <ul>
                    <li><a class="white-text" href="https://github.com/openproject/AndroidDigest">项目GitHub</a></li>
                    <li><a class="white-text" href="https://github.com/openproject/AndroidDigest">下载地址</a></li>
                    <li><a class="white-text" href="https://github.com/openproject">作者</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">链接</h5>
                <ul>
                    <li><a class="white-text" href="http://cnblogs.com/qianxuedetianxia">谦虚的天下</a></li>
                    <li><a class="white-text" href="http://www.nianyue.com.cn">年月匆匆</a></li>
                    <li><a class="white-text" href="http://www.wrox.cn">IT牛人汇</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            项目主页：<a class="brown-text text-lighten-3" href="https://github.com/openproject/AndroidDigest">AndroidDigest@GitHub</a> |
            项目作者：<a class="brown-text text-lighten-3" href="https://github.com/openproject">谦虚的天下@Cnblogs</a> |
            大数据：<a class="brown-text text-lighten-3" href="http://wrox.cn/">@IT博客汇</a> |
            网站制作：<a class="brown-text text-lighten-3" href="http://www.nianyue.com.cn">@年月匆匆</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="http://libs.useso.com/js/jquery/2.1.1-rc2/jquery.min.js"></script>
<script src="__ROOT__/Public/Assets/js/materialize.js"></script>
<script src="__ROOT__/Public/Assets/js/masonry.pkgd.min.js"></script>
<script src="__ROOT__/Public/Assets/js/init.js"></script>

</body>
</html>