<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0, user-scalable=no"/>
    <title>干柴的主页 - android相关的干货(文摘，名博，github等等)</title>

    <!-- CSS  -->
    <link href="http://fonts.useso.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{$Think.Config.SKIN_PATH}Assets/css/materialize.css" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{$Think.Config.SKIN_PATH}Assets/css/style.css" type="text/css" rel="stylesheet" media="screen,projection"/>
</head>
<body>
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="#" class="brand-logo">干柴</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="__ROOT__/">首页</a></li>
            <li><a href="__ROOT__/Project">项目</a></li>
            <li><a href="__ROOT__/Pages/about">关于</a></li>
            <li><a href="__ROOT__/Pages/author">作者</a></li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li><a href="#">首页</a></li>
            <li><a href="#">干柴</a></li>
            <li><a href="#">关于</a></li>
            <li><a href="#">作者</a></li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

<div id="index-banner" class="parallax-container">
    <div class="section no-pad-bot">
        <div class="container">
            <br><br>
            <h1 class="header center teal-text text-lighten-2">干柴/AndroidDigest</h1>
            <div class="row center">
                <h5 class="header col s12 light">android相关的干货(文摘，名博，github等等) - Android极客开发者必备</h5>
            </div>
            <div class="row center">
                <a href="__ROOT__/Pages/about" id="download-button" class="btn-large waves-effect waves-light teal lighten-1">{$Think.Config.SKIN_PATH}</a>
            </div>
            <br><br>
			{$Think.Config.SKIN_PATH}

        </div>
    </div>
    <div class="parallax"><img src="{$Think.Config.SKIN_PATH}Assets/img/bg/background1.jpg" alt="Unsplashed background img 1"></div>
</div>


<div class="container">
    <div class="section">

        <!--   Icon Section   -->
        <div class="row">

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">cloud</i></h2>
                    <h5 class="center">云平台</h5>

                    <p class="light">实时的互联网大数据蓝本，结合用户行为偏好，严谨的程序逻辑运算，展现给用户最想要的~</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">android</i></h2>
                    <h5 class="center">Android端</h5>

                    <p class="light">We did most of the heavy lifting for you to provide a default stylings that incorporate our custom components. Additionally, we refined animations and transitions to provide a smoother experience for developers.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">chat</i></h2>
                    <h5 class="center">微信</h5>

                    <p class="light">By utilizing elements and principles of Material Design, we were able to create a framework that incorporates components and animations that provide more feedback to users. Additionally, a single underlying responsive system across all platforms allow for a more unified user experience.</p>
                </div>
            </div>

            <div class="col s12 m3">
                <div class="icon-block">
                    <h2 class="center brown-text"><i class="material-icons">computer</i></h2>
                    <h5 class="center">PC</h5>

                    <p class="light">We have provided detailed documentation as well as specific code examples to help new users get started. We are also always open to feedback and can answer any questions a user may have about Materialize.</p>
                </div>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{$Think.Config.SKIN_PATH}Assets/img/bg/background2.jpg" alt="Unsplashed background img 2"></div>
</div>

<div class="container">
    <div class="section">

        <div class="row">
            <div class="col s12 center">
                <h3><i class="mdi-content-send brown-text"></i></h3>
                <h4>关于</h4>
                <p class="left-align light">
                    这是一套解决方案，截至目前我们还在积极的整合整个项目。很抱歉，到现在位置我们还没有给它定义一个名字！因为她过于庞大！她是一个跨移动端、服务器端、微信端、传统PC端的完整解决方案。<br />
                    这个项目最早是源于<a href="__ROOT__/Pages/author/jayfeng">JayFeng</a>的开源项目<a href="https://github.com/openproject/AndroidDigest" target="_blank">AndroidDigest（干柴）</a>。目前该项目获得了不少星标，AndroidDigest已经是一套完整的解决方案，项目已经包括了从Client到Server的解决方案，目前运行状态良好。AndroidDigest项目汇聚了不少Android高手参与其中。了解更多，请关注干柴的GitHub……<br />
                    <a href="__ROOT__/Pages/author/zhengfeng">ZhengFeng.Rao</a>是一个服务器端的牛逼工程师，先后就职于三星中国、腾讯易迅等知名企业。在GIS、多媒体转解码、流媒体处理、Linux安全攻防有十足的经验。这家伙是一个有情怀的工程师，<a href="http://www.wrox.cn" target="_blank">IT博客汇</a>是他为爱人写的博客阅读器。目前，在本项目中，后台服务是基于IT博客汇的。关于他的传说，请私信……<br />
                </p>
            </div>
        </div>

    </div>
</div>


<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
        <div class="container">
            <div class="row center">
                <h5 class="header col s12 light">A modern responsive front-end framework based on Material Design</h5>
            </div>
        </div>
    </div>
    <div class="parallax"><img src="{$Think.Config.SKIN_PATH}Assets/img/bg/background3.jpg" alt="Unsplashed background img 3"></div>
</div>

<footer class="page-footer teal">
    <div class="container">
        <div class="row">
            <div class="col l6 s12">
                <h5 class="white-text">Company Bio</h5>
                <p class="grey-text text-lighten-4">We are a team of college students working on this project like it's our full time job. Any amount would help support and continue development on this project and is greatly appreciated.</p>


            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Settings</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
            <div class="col l3 s12">
                <h5 class="white-text">Connect</h5>
                <ul>
                    <li><a class="white-text" href="#!">Link 1</a></li>
                    <li><a class="white-text" href="#!">Link 2</a></li>
                    <li><a class="white-text" href="#!">Link 3</a></li>
                    <li><a class="white-text" href="#!">Link 4</a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="footer-copyright">
        <div class="container">
            Made by <a class="brown-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
    </div>
</footer>


<!--  Scripts-->
<script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
<script src="{$Think.Config.SKIN_PATH}Assets/js/materialize.js"></script>
<script src="{$Think.Config.SKIN_PATH}Assets/js/init.js"></script>

</body>
</html>